#register-now-btn {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  width: 85%;
  font-size: clamp(1em, 1.65vw, 2.2em);
  line-height: clamp(1em, 1.55vw, 2em);
  letter-spacing: -0.02em;
  border: none;
  border-radius: 10px;
  padding: .8em .8em;
}
