#features-container {
  font-family: "Manrope";
  font-style: normal;
}

#features-header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#features-header-title h1 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: clamp(0.5em, 6.25vw, 3em);
  line-height: 115%;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: clamp(0.5em, 8vw, 3em);
}

#features-header-title span {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(0.5em, 2.4vw, 1.5em);
  line-height: clamp(0.5em, 3.3vw, 3em);
  text-align: center;
  text-transform: capitalize;
  margin-top: clamp(0.5em, 2vw, 1em);
  margin-bottom: clamp(0.5em, 10vw, 5em);
  color: #ffffff;
}

#rt-monitoring {
  padding-left: 8.5%;
  padding-right: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#rt-monitoring h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: clamp(0.5em, 4.85vw, 1.5em);
  line-height: 90%;
  text-transform: capitalize;
  margin-top: clamp(0.5em, 4.85vw, 1.5em);
  margin-bottom: clamp(0.5em, 4.85vw, 1.5em);
}

#rt-monitoring span {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.5em, 3.4vw, 1.5em);
  line-height: 157%;
  color: #000000;
}

#rt-monitoring ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

#rt-monitoring li {
  margin-bottom: 0.5em;
}

#rt-monitoring img {
  width: clamp(0.5em, 90vw, 100em);
  margin-bottom: clamp(0.5em, 10vw, 3em);
}

#our-feature {
  font-family: "Manrope";
  padding-left: 8.5%;
  padding-right: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: clamp(0.5em, 10vw, 3em);
}

#our-feature h3 {
  font-style: normal;
  font-weight: 800;
  font-size: clamp(0.5em, 2.85vw, 1.5em);
  line-height: 16px;
  text-transform: uppercase;
  color: #3734a9;
}

#our-feature h2 {
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.5em, 4.83vw, 1.5em);
  line-height: 185%;
  letter-spacing: -0.03em;
  margin-bottom: clamp(0.1em, 1.5vw, 2em);
}

#our-feature span {
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.5em, 3.4vw, 1.5em);
  line-height: 157%;
  letter-spacing: -0.02em;
  margin-bottom: clamp(0.1em, 4vw, 2em);
}

#poi {
  font-family: "Manrope";
  padding-left: 8.5%;
  padding-right: 9%;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#poi h2 {
  font-weight: 700;
  font-size: clamp(0.5em, 4.85vw, 1.5em);
  line-height: 125%;
  letter-spacing: -0.03em;
  margin-bottom: clamp(0.5em, 5vw, 2em);
}

#poi h2:first-of-type {
  margin-top: clamp(0.5em, 9vw, 5em);
  margin-bottom: clamp(0.2em, 1vw, 1em);
}

#poi span {
  font-weight: 400;
  font-size: clamp(0.5em, 3.4vw, 1.5em);
  line-height: 157%;
  margin-bottom: clamp(0.5em, 5vw, 2em);
}

.poi-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#poi .poi-feature span {
  font-weight: 500;
  font-size: clamp(0.5em, 4.35vw, 2em);
  line-height: 139%;
  letter-spacing: -0.02em;
  width: 80%;
  margin-top: clamp(0.5em, 3vw, 2em);
}

#e-garage {
  font-family: "Manrope";
  font-style: normal;
  padding-top: clamp(0.5em, 5vw, 3em);
  padding-left: 8.5%;
  padding-right: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#e-garage h2 {
  font-weight: 700;
  font-size: clamp(0.5em, 6.3vw, 2em);
  line-height: 96%;
  letter-spacing: -0.03em;
  margin-top: clamp(0.5em, 3vw, 2em);
  margin-bottom: clamp(0.5em, 3vw, 2em);
}

#e-garage span {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.5em, 3.62vw, 2em);
  line-height: 157%;
  margin-bottom: clamp(0.5em, 10.9vw, 5em);
}
#teltonica {
  position: relative;
  margin-top: clamp(0.5em, 11.5vw, 7em);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#devices-pics {
  position: relative;
  width: 100%;
}

#tracking-devices-pics {
  position: absolute;
  top: 28%;
  right: 1%;
}

#devices-pics-text {
  margin-top: clamp(0.5em, 11.6vw, 7em);
  margin-left: clamp(0.5em, 9vw, 7em);
}

#devices-pics-text h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: clamp(0.5em, 6.3vw, 2em);
  line-height: clamp(0.5em, 5.5vw, 2em);
  margin-bottom: 0.5em;
}

#devices-pics-text span {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.5em, 4vw, 2em);
  line-height: 179%;
}

#devices-pics img {
  margin-left: auto;
  margin-top: auto;
}

#supported-devices {
  padding-left: 8.5%;
  padding-right: 9%;
}

#supported-devices h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 800;
  font-size: clamp(0.5em, 6.3vw, 2em);
  line-height: 106%;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

#device-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5em;
  row-gap: 0.5em;
}

#toggle-device-list {
  font-family: "Manrope";
  font-style: normal;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  font-weight: 800;
  font-size: clamp(0.5em, 5.3vw, 2em);
  line-height: 136%;
  text-align: center;
  letter-spacing: -0.02em;
  background-color: #ffd850;
  border-radius: 10px;
  border: none;
}

#register-now {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#register-now h2 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(0.5em, 5.3vw, 2em);
  line-height: 136%;
  text-align: center;
  text-transform: capitalize;
  width: 80%;
  margin-top: clamp(0.5em, 10.5vw, 4em);
  margin-bottom: clamp(0.5em, 10.5vw, 4em);
}

@media (min-width: 1000px) {
  #features-header-title h1 {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 800;
    font-size: clamp(0.5em, 4.1vw, 6em);
    line-height: 125%;
    width: 60%;
  }

  #features-header-title span {
    font-size: clamp(0.5em, 1.74vw, 3em);
    line-height: clamp(0.5em, 2.4vw, 3em);
    width: 85%;
    
  }
}
