@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

#homepage-container {
  font-family: "Manrope", sans-serif;
}

.header {
  padding-top: clamp(0.5em, 2vw, 3em);
  padding-bottom: clamp(0.5em, 2vw, 3em);
  padding-left: clamp(0.5em, 9vw, 5em);
  padding-right: clamp(0.5em, 9vw, 5em);
  width: 100%;
  max-width: 100%;
  height: fit-content;
  background-image: url(../images/homepage/sunrise-road.jpg);
  background-size: cover;
  background-position: center;
}

#drawer-menu-pic {
  height: clamp(0.5em, 4vw, 2em);
}

@media (min-width: 1280px) {
  #drawer-menu-pic {
    display: none;
  }
}

#erafleet-title-pic {
  height: clamp(4.5vw, 4.5vw, 1.5em);
  margin-left: 3.2em;
}
@media (min-width: 500px) {
  #erafleet-title-pic {
    height: clamp(1.5em, 2vw, 1.5em);
  }
}

.navbar {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
}

.navbar ul,
.navbar a {
  display: none;
}

@media (min-width: 1280px) {
  .navbar ul {
    display: flex;
    list-style: none;
  }
  .navbar li {
    margin-right: 1em;
  }
  .navbar a {
    display: inline-block;
  }
}

.navbar a {
  font-weight: 500;
  font-size: clamp(0.5em, 1.5vw, 2em);
  margin-right: 1.5em;
}

.start-free-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(0.5em, 13.3vw, 13em);
  min-width: 8em;
  min-height: 2.5em;
  height: clamp(0.5em, 3.5vw, 13em);
  max-height: 60px;
  font-size: clamp(0.5em, 2.5vw, 1.2em);
  font-weight: 600;
  background: #ffd850;
  border-radius: 0.8vw;
  border: none;
  margin-left: 1em;
}

.start-free-btn:hover {
  background-color: #ffea9f;
}

#fleet-features {
  color: #ffffff;
  margin-top: clamp(1em, 5vw, 3em);
  margin-bottom: clamp(1em, 7vw, 3em);
}

#fleet-features span {
  font-size: clamp(0.5em, 3vw, 0.9em);
}

#fleet-features h2 {
  font-size: clamp(1em, 6.5vw, 3.8em);
  font-weight: 800;
  letter-spacing: -0.03em;
}

@media (min-width: 768px) {
  #fleet-features {
    align-items: flex-start;
    margin-left: 4.5em;
  }
  #fleet-features h2 {
    margin-bottom: clamp(0.1em, 1vw, 1em);
  }
}

.feature-list {
  position: relative;
  width: fit-content;
  padding: 0;
  margin: 0 0 0 2em;
}

.feature-list ul {
  padding: 0;
}

.feature-list li {
  display: flex;
  font-size: clamp(0.5em, 3vw, 2em);
  margin-bottom: 0.7em;
  align-items: center;
}

#green-tick {
  position: absolute;
  left: -1.5em;
  height: clamp(1em, 1vw, 1em);
}

.section-title {
  font-size: clamp(0.5em, 5.3vw, 2em);
  font-weight: 800;
  text-transform: capitalize;
  margin: 1em 0 1em 0;
}

.section-title-large {
  font-weight: 700;
  font-size: clamp(0.5em, 5vw, 2em);
}

#iot-solutions-paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#iot-solutions h3 {
  width: 80%;
  margin: 1em 0 1em 0;
}

#iot-solutions span {
  width: 90%;
  font-weight: 500;
  text-transform: capitalize;
  font-size: clamp(0.5em, 3.8vw, 2em);
  margin-bottom: 2.2em;
}

#iot-solutions-pics {
  width: 85%;
  position: relative;
  margin: 1em 1em 1em 0;
}

#iot-solutions-pics__cars-on-map {
  position: relative;
  height: clamp(10vw, 40vw, 70vw);
  left: 1em;
  z-index: 1;
}

#iot-solutions-pics__steering {
  position: relative;
  height: clamp(10vw, 55vw, 70vw);
  z-index: 0;
}

@media (min-width: 1280px) {
  #iot-solutions {
    flex-direction: row;
  }

  #iot-solutions-paragraph {
    align-items: flex-start;
    margin-left: clamp(2em, 10vw, 10em);
    width: fit-content;
  }

  #iot-solutions span {
    text-align: left;
    font-size: clamp(0.5em, 1.2vw, 2em) !important;
    line-height: clamp(0.5em, 1.5vw, 2em) !important;
    width: 80%;
  }

  #iot-solutions h3 {
    width: 80%;
    font-size: clamp(0.5em, 3vw, 5em);
    text-align: left;
    margin: 1em 0 clamp(0.5em, 2vw, 5em) 0;
    line-height: clamp(0.5em, 3vw, 5em);
  }

  #iot-solutions-pics {
    width: 85%;
    position: relative;
    margin-left: -20em;
    margin-top: clamp(3em, 8vw, 5em);
    margin-bottom: 0;
  }

  #iot-solutions-pics__cars-on-map {
    position: relative;
    height: clamp(10vw, 14vw, 70vw);
    left: 1em;
    z-index: 1;
  }

  #iot-solutions-pics__steering {
    position: relative;
    height: clamp(10vw, 20vw, 70vw);
    z-index: 0;
  }
}

#flexible-pricing-plan h4 {
  margin: 1.5em 0 1.5em 0;
}

.yellow-rectangle {
  width: clamp(2em, 25vw, 8em);
  height: clamp(2em, 25vw, 8em);
  border-radius: 5%;
  background-color: #ffd850;
}

#flexible-pricing-plan span {
  font-size: clamp(0.5em, 4.5vw, 1.5em);
  color: #64607d;
}

#cards {
  margin-bottom: 1em;
}

.card h3 {
  font-size: clamp(0.5em, 6vw, 1.5em);
}

.card span {
  width: 85%;
  font-size: clamp(0.5em, 5vw, 1.5em);
  color: #64607d;
}

.register-now-btn {
  border: none;
  font-weight: bold;
  color: white;
  background: #4f46ba;
  padding: 0.7em 0 0.7em 0;
  border-radius: 10px;
  font-size: clamp(0.5em, 5vw, 1.5em);
  width: 90%;
  margin: 1em 0 1em 0;
}

.yellow-bg {
  color: black;
  background-color: #ffd850;
}

@media (min-width: 1280px) {
  #flexible-pricing-plan {
    margin-top: clamp(0.5em, 3vw, 2.5em);
    margin-left: clamp(2em, 10vw, 10em);
    margin-right: clamp(2em, 3vw, 10em);
    padding-top: clamp(1em, 1vw, 4em);
    padding-bottom: clamp(1em, 1vw, 4em);
    padding-left: clamp(1em, 2.5vw, 4em);
    flex-direction: row;
    border: 1px solid #dee1e6;
    border-radius: 10px;
  }

  #flexible-pricing-plan h3 {
    letter-spacing: -0.03em;
    white-space: nowrap;
    margin-right: clamp(1em, 2vw, 10em);
  }

  #flexible-pricing-plan h4 {
    letter-spacing: -0.02em;
    font-size: clamp(0.1em, 1.3vw, 1.3em);
    text-align: left;
    margin: 0 0.5em 0 0.5em;
  }

  .yellow-rectangle {
    width: clamp(0.2em, 5vw, 5em);
    height: clamp(0.2em, 4vw, 5em);
    border-radius: 5%;
    background-color: #ffd850;
  }

  #flexible-pricing-plan img {
    height: clamp(0.2em, 2vw, 5em);
  }
}

@media (min-width: 1280px) {
  #cards {
    display: flex;
  }

  .card {
      margin: 1em 0.5em 0 .5em;
    box-shadow: 0px 141.825px 113.46px rgba(0, 0, 0, 0.03),
      0px 91.9235px 66.4476px rgba(0, 0, 0, 0.0227778),
      0px 54.6288px 36.1391px rgba(0, 0, 0, 0.0182222),
      0px 28.365px 18.4372px rgba(0, 0, 0, 0.015),
      0px 11.5561px 9.24488px rgba(0, 0, 0, 0.0117778),
      0px 2.62639px 4.46486px rgba(0, 0, 0, 0.00722222);
    border-radius: 20px;
  }
}

#purple-bg {
  background-color: #3734a9;
  color: white;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
}

#purple-bg h2 {
  font-size: clamp(0.5em, 6vw, 2.5em);
  margin: 0;
  width: 85%;
  font-weight: 500;
}

#purple-bg h3 {
  width: 85%;
  font-size: clamp(0.5em, 6.5vw, 2.5em);
  margin: 0.5em 0 0.5em 0;
}

#purple-bg h4 {
  width: 70%;
  margin-bottom: 1em;
}

#purple-bg span {
  font-size: clamp(0.5em, 5.7vw, 2.5em);
  font-weight: 500;
  letter-spacing: -0.02em;
  margin: 1em 1em;
}

.yellow-circle {
  margin-top: 0.5em;
  padding: clamp(1em, 25vw, 5em);
  border-radius: 50%;
  background-color: #ffd850;
  height: clamp(1em, 8vw, 5em);
  width: clamp(1em, 8vw, 5em);
}

.yellow-circle h1 {
  color: #3734a9;
  font-size: clamp(1em, 13vw, 5em);
  font-weight: 700;
}

#yelow-bg-rect {
  margin-top: 1.5em;
  margin-bottom: 1em;
  background-color: #ffd850;
}

#phone-in-hand-pic {
  position: relative;
  left: -1em;
  top: -1em;
}

@media (min-width: 1280px) {
}

#erafleet {
  margin-top: 2em;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#erafleet h2 {
  font-family: "Roboto";
  font-size: clamp(0.5em, 6vw, 3em);
  font-weight: 400;
}

#erafleet span {
  font-size: clamp(0.5em, 4.4vw, 3em);
  font-weight: 400;
  margin-bottom: 1em;
}

.quick-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.quick-menu ul {
  font-size: clamp(0.5em, 4.5vw, 3em);
  font-weight: 400;
  color: #757575;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.quick-menu h3 {
  font-size: clamp(0.5em, 5vw, 3em);
}

.quick-menu span {
  font-size: clamp(0.5em, 4.4vw, 3em);
  font-weight: 400;
  color: #757575;
}

#mail,
#phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3734a9;
}

#mail h3,
#phone h3 {
  margin-top: 0.5em;
  font-weight: 500;
}

#phone {
  margin: 1em 0 1em 0;
}

#phone-pic {
  width: clamp(0.5em, 7vw, 3em);
}

#mail-pic {
  width: fit-content;
  height: fit-content;
}

#top-env {
  width: clamp(0.5em, 8vw, 3em);
  margin-bottom: clamp(-0.5em, -15vw, -5em);
}

#bott-env {
  width: clamp(0.5em, 8vw, 3em);
  margin-top: clamp(-0.5em, -15vw, -5em);
}

#city-silouete-pics {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 5em;
  height: clamp(0.5em, 20vw, 50vw);
}

footer {
  font-family: "Poppins", sans-serif;
  padding: 0.8em;
  width: 100%;
  color: #f2f3ff;
  background: #000000;
}
