@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

#homepage-container {
  font-family: "Manrope", sans-serif;
}

.header {
  padding: 0.5em 1.5em 1em 1.5em;
  width: 100%;
  max-width: 100%;
  height: fit-content;
  background-image: url(../images/homepage/sunrise-road.jpg);
  background-size: cover;
  background-position: center;
}

#drawer-menu-pic {
  height: clamp(0.5em, 4vw, 2em);
}

#erafleet-title-pic {
  height: clamp(0.5em, 4.5vw, 2em);
  margin-left: 3.2em;
}

.navbar {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
}

.start-free-btn {
  font-size: clamp(0.5em, 2.5vw, 1em);
  font-weight: bold;
  align-self: center;
  height: fit-content;
  background: #ffd850;
  border-radius: 7px;
  border: none;
  padding: 0.8em 2em 0.8em 2em;
}

.start-free-btn:hover {
  background-color: #ffea9f;
}

#fleet-features {
  color: #ffffff;
  margin-top: clamp(1em, 5vw, 3em);
  margin-bottom: clamp(1em, 7vw, 3em);
}

#fleet-features span {
  font-size: clamp(1em, 3vw, 2em);
}

#fleet-features h2 {
  font-size: clamp(1em, 6.5vw, 3em);
  font-weight: 800;
  letter-spacing: -0.03em;
}

@media (min-width: 768px) {
  #fleet-features {
    align-items: flex-start;
  }
}

.feature-list {
  position: relative;
  width: fit-content;
  padding: 0;
  margin: 0 0 0 2em;
}

.feature-list ul {
  padding: 0;
}

.feature-list li {
  display: flex;
  font-size: clamp(0.5em, 3vw, 2em);
  margin-bottom: 0.7em;
  align-items: center;
}

#green-tick {
  position: absolute;
  left: -1.5em;
  height: clamp(1em, 1vw, 1em);
}

.section-title {
  font-size: clamp(0.5em, 5.3vw, 2em);
  font-weight: 800;
  text-transform: capitalize;
  margin: 1em 0 1em 0;
}

.section-title-large {
  font-weight: 700;
  font-size: clamp(0.5em, 5vw, 2em);
}

#iot-solutions h3 {
  width: 80%;
  margin: 1em 0 1em 0;
}

#iot-solutions span {
  width: 90%;
  font-weight: 500;
  text-transform: capitalize;
  font-size: clamp(0.5em, 3.8vw, 2em);
  margin-bottom: 2.2em;
}

#iot-solutions-pics {
  width: 85%;
  position: relative;
  margin: 1em 1em 1em 0;
}

#iot-solutions-pics__cars-on-map {
  position: relative;
  height: clamp(10vw, 40vw, 70vw);
  left: 1em;
  z-index: 1;
}

#iot-solutions-pics__steering {
  position: relative;
  height: clamp(10vw, 55vw, 70vw);
  z-index: 0;
}

.yellow-rectangle {
  width: clamp(2em, 25vw, 8em);
  height: clamp(2em, 25vw, 8em);
  border-radius: 5%;
  background-color: #ffd850;
}

#flexible-pricing-plan h4 {
  margin: 1.5em 0 1.5em 0;
}

#flexible-pricing-plan span {
  font-size: clamp(0.5em, 4.5vw, 1.5em);
  color: #64607d;
}

#cards {
  margin-bottom: 1em;
}

.card h3 {
  font-size: clamp(0.5em, 6vw, 1.5em);
}

.card span {
  width: 85%;
  font-size: clamp(0.5em, 5vw, 1.5em);
  color: #64607d;
}

.register-now-btn {
  border: none;
  font-weight: bold;
  color: white;
  background: #4f46ba;
  padding: 0.7em 0 0.7em 0;
  border-radius: 10px;
  font-size: clamp(0.5em, 5vw, 1.5em);
  width: 90%;
  margin: 1em 0 1em 0;
}

.yellow-bg {
  color: black;
  background-color: #ffd850;
}

#purple-bg {
  background-color: #3734a9;
  color: white;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
}

#purple-bg h2 {
  font-size: clamp(0.5em, 6vw, 2.5em);
  margin: 0;
  width: 85%;
  font-weight: 500;
}

#purple-bg h3 {
  width: 85%;
  font-size: clamp(0.5em, 6.5vw, 2.5em);
  margin: 0.5em 0 0.5em 0;
}

#purple-bg h4 {
  width: 70%;
  margin-bottom: 1em;
}

#purple-bg span {
  font-size: clamp(0.5em, 5.7vw, 2.5em);
  font-weight: 500;
  letter-spacing: -0.02em;
  margin: 1em 1em;
}

.yellow-circle {
  margin-top: 0.5em;
  padding: clamp(1em, 25vw, 3em);
  border-radius: 50%;
  background-color: #ffd850;
  height: clamp(1em, 8vw, 5em);
  width: clamp(1em, 8vw, 5em);
}

.yellow-circle h1 {
  color: #3734a9;
  font-size: clamp(1em, 13vw, 5em);
  font-weight: 700;
}

#yelow-bg-rect {
  margin-top: 1.5em;
  margin-bottom: 1em;
  background-color: #ffd850;
}

#phone-in-hand-pic {
  position: relative;
  left: -1em;
  top: -1em;
}

#erafleet {
  margin-top: 2em;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#erafleet h2 {
  font-family: "Roboto";
  font-size: clamp(0.5em, 6vw, 3em);
  font-weight: 400;
}

#erafleet span {
  font-size: clamp(0.5em, 4.4vw, 3em);
  font-weight: 400;
  margin-bottom: 1em;
}

.quick-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.quick-menu ul {
  font-size: clamp(0.5em, 4.5vw, 3em);
  font-weight: 400;
  color: #757575;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.quick-menu h3 {
  font-size: clamp(0.5em, 5vw, 3em);
}

.quick-menu span {
  font-size: clamp(0.5em, 4.4vw, 3em);
  font-weight: 400;
  color: #757575;
}

#mail,
#phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3734a9;
}

#mail h3,
#phone h3 {
  margin-top: 0.5em;
  font-weight: 500;
}

#phone {
  margin: 1em 0 1em 0;
}

#phone-pic {
  width: clamp(0.5em, 7vw, 3em);
}

#mail-pic {
  width: fit-content;
  height: fit-content;
}

#top-env {
  width: clamp(0.5em, 8vw, 3em);
  margin-bottom: clamp(-0.5em, -15vw, -5em);
}

#bott-env {
  width: clamp(0.5em, 8vw, 3em);
  margin-top: clamp(-0.5em, -15vw, -5em);
}

#city-silouete-pics {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 5em;
  height: clamp(0.5em, 20vw, 50vw);
}

footer {
  font-family: "Poppins", sans-serif;
  padding: 0.8em;
  width: 100%;
  color: #F2F3FF;
  background: #000000;
}
