@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

#homepage-container {
  display: flex;
  flex-direction: column;
  font-family: "Manrope";
}

.header {
  padding-top: clamp(0.5em, 2vw, 3em);
  padding-bottom: clamp(0.5em, 2vw, 3em);
  padding-left: clamp(0.5em, 9vw, 5em);
  padding-right: clamp(0.5em, 9vw, 5em);
  width: 100%;
  max-width: 100%;
  height: fit-content;
  background-image: url(../images/homepage/sunrise-road.jpg);
  background-size: cover;
  background-position: center;
}

#drawer-menu-pic {
  height: clamp(0.5em, 4vw, 2em);
}

#erafleet-title-pic {
  height: clamp(4.5vw, 4.5vw, 1.5em);
  margin-left: 3.2em;
}

.navbar {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5em;
}

.navbar ul,
.navbar a {
  display: none;
}

.navbar a {
  font-weight: 500;
  font-size: clamp(0.5em, 1.5vw, 2em);
  margin-right: 1.5em;
}

.start-free-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(0.5em, 13.3vw, 13em);
  min-width: 8em;
  min-height: 2.5em;
  height: clamp(0.5em, 3.5vw, 13em);
  max-height: 60px;
  font-size: clamp(0.5em, 2.5vw, 1.2em);
  font-weight: 600;
  background: #ffd850;
  border-radius: 0.8vw;
  border: none;
  margin-left: 1em;
}

.start-free-btn:hover {
  background-color: #ffea9f;
}

#fleet-features-section {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  margin-top: clamp(1em, 5vw, 3em);
  margin-bottom: clamp(1em, 7vw, 3em);
}

.feature-list {
  align-self: center;
}

#fleet-features-section span {
  font-size: clamp(0.5em, 3vw, 0.9em);
}

#fleet-features-section h2 {
  font-size: clamp(1em, 6.5vw, 3.8em);
  font-weight: 800;
  letter-spacing: -0.03em;
}

.feature-list {
  position: relative;
  width: fit-content;
  padding: 0;
  margin: 0 0 0 2em;
  align-self: center;
}

.feature-list ul {
  padding: 0;
}

.feature-list li {
  display: flex;
  font-size: clamp(0.5em, 3vw, 2em);
  margin-bottom: 0.7em;
  align-items: center;
}

#green-tick {
  position: absolute;
  left: -1.5em;
  height: clamp(1em, 1vw, 1em);
}

.section-title {
  font-size: clamp(0.5em, 5.3vw, 2em);
  font-weight: 800;
  text-transform: capitalize;
  margin: 1em 0 1em 0;
}

.section-title-large {
  font-weight: 700;
  font-size: clamp(0.5em, 5vw, 2em);
}

#iot-solutions-section {
  padding-left: 8.5%;
  padding-right: 9%;
  display: flex;
  flex-direction: column;
}

#iot-solutions-text-wrapper {
  text-align: center;
  text-transform: capitalize;
}

#iot-solutions-paragraph {
  font-size: clamp(0.5em, 3.5vw, 2em);
  font-weight: 500;
  line-height: clamp(0.5em, 4.2vw, 2em);
}

#iot-solutions-pics {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 1em 1em 1em 0;
  padding-left: 0.5em;
}

#iot-solutions-pics__cars-on-map {
  height: clamp(10vw, 40vw, 70vw);
  z-index: 1;
}

#iot-solutions-pics__steering {
  position: relative;
  right: 1em;
  height: clamp(10vw, 55vw, 70vw);
}

#flexible-pricing-plan-section {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#flexible-pricing-plan-section h3 {
  font-size: clamp(0.5em, 5.3vw, 2em);
  font-weight: 800;
  text-transform: capitalize;
  margin: 1em 0 1em 0;
  letter-spacing: -0.03em;
}

#flexible-pricing-plan-section h4 {
  font-size: clamp(0.5em, 4.5vw, 1.5em);
  color: #64607d;
  letter-spacing: -0.02em;
  font-weight: 500;
  margin: 1.5em 0 1.5em 0;
}

.yellow-rectangle {
  width: clamp(2em, 25vw, 8em);
  height: clamp(2em, 25vw, 8em);
  border-radius: 5%;
  background-color: #ffd850;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#products-cards-section {
  padding-left: 8.5%;
  padding-right: 9%;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-card h3 {
  font-size: clamp(0.5em, 6vw, 2em);
  text-transform: capitalize;
  letter-spacing: -0.03em;
  margin: 1em 0 0.5em 0;
  font-weight: 800;
}

.product-card span {
  font-size: clamp(0.5em, 5vw, 1.5em);
  color: #64607d;
  letter-spacing: -0.02em;
  margin-bottom: 0.5em;
}

.register-now-btn {
  border: none;
  font-weight: bold;
  color: white;
  background: #4f46ba;
  padding: 0.7em 0 0.7em 0;
  border-radius: 10px;
  font-size: clamp(0.5em, 5vw, 1.5em);
  width: 100%;
  margin: 1em 0 1em 0;
}

.yellow-bg {
  color: black;
  background-color: #ffd850;
}

#purple-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3734a9;
  color: white;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-left: 8.5%;
  padding-right: 9%;
  padding-bottom: 2em;
}

#purple-bg h3 {
  text-align: center;
  font-size: clamp(0.5em, 6.5vw, 2.5em);
  margin: 0.5em 0 0.5em 0;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 140%;
  text-transform: capitalize;
  color: #ffffff;
}

#bullet-points {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bullet-points h3 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.5em, 6.3vw, 2.5em);
  line-height: 125%;
  text-align: center;
  letter-spacing: -0.02em;
  margin-bottom: 0.5em;
}

#bullet-points h4 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(0.5em, 4.35vw, 2.5em);
  line-height: 171%;
  text-align: center;
  letter-spacing: -0.02em;
  color: #a0b3e9;
  width: 80%;
}

.yellow-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  border-radius: 50%;
  background-color: #ffd850;
  height: clamp(0.5em, 21vw, 8em);
  width: clamp(0.5em, 21vw, 8em);
}

.yellow-circle h1 {
  font-size: clamp(1em, 11.1vw, 5em);
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  line-height: 70%;
  letter-spacing: -0.02em;
  color: #3734a9;
}

#yelow-bg-rect {
  margin-top: 4em;
  margin-bottom: 1em;
  background-color: #ffd850;
}

#phone-in-hand-pic {
  position: relative;
  left: -1em;
  top: -1em;
}

.register-now-paragraph {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(0.5em, 5.4vw, 2.5em);
  line-height: 136%;
  text-align: center;
  text-transform: capitalize;
}

#quick-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 8.5%;
  padding-right: 9%;
}

#company-summ {
  padding: 1em 0 1em 0;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#company-summ h2 {
  margin-bottom: 0.5em;
  font-family: "Roboto";
  font-size: clamp(0.5em, 6vw, 3em);
  font-style: normal;
  font-weight: 400;
  line-height: clamp(0.5em, 6vw, 3em);
  font-feature-settings: "liga" off;
}

#company-summ span {
  font-size: clamp(0.5em, 4.4vw, 3em);
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  line-height: 139%;
  text-align: center;
  color: #333333;
}

.mini-nav {
  text-align: center;
  padding: 1em 0 1em 0;
}

.mini-nav h3 {
  text-align: center;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.5em, 5vw, 3em);
  line-height: 125%;
  color: #000000;
  margin-bottom: 0.5em;
}

.mini-nav ul {
  font-size: clamp(0.5em, 4.5vw, 3em);
  color: #757575;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  line-height: 139%;
  color: #757575;
}

#quick-cont {
  padding: 1em 0 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#quick-cont h3 {
  font-size: clamp(0.5em, 5vw, 3em);
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  color: #000000;
  margin-bottom: 0.4em;
}

#quick-cont span {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: #757575;
  width: 60%;
}

#quick-cont h4 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: clamp(0.5em, 4.4vw, 3em);
  line-height: 139%;
  color: #3734a9;
}

#mail,
#phone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #3734a9;
}

#phone {
  margin: 1em 0 1em 0;
}

#phone-pic {
  width: clamp(0.5em, 7vw, 3em);
  margin-bottom: 0.5em;
}

#mail-pic {
  width: fit-content;
  height: fit-content;
  margin-bottom: 0.5em;
}

#top-env {
  width: clamp(0.5em, 8vw, 3em);
  margin-bottom: clamp(-0.5em, -15vw, -5em);
}

#bott-env {
  width: clamp(0.5em, 8vw, 3em);
  margin-top: clamp(-0.5em, -15vw, -5em);
}

#address {
  padding: 1em 0 1em 0;
  text-align: center;
}

#address h3 {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.5em, 5vw, 5em);
  line-height: 125%;
  color: #000000;
  margin-bottom: 0.3em;
}

#address span {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: clamp(0.5em, 4.4vw, 3em);
  line-height: 139%;
  color: #757575;
  width: 60%;
}

#city-silouete-pics {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 5em;
  height: clamp(0.5em, 20vw, 50vw);
}

footer {
  font-family: "Poppins", sans-serif;
  padding: 0.8em;
  width: 100%;
  color: #f2f3ff;
  background: #000000;
  text-align: center;
}

/* Media Queries  */

@media (min-width: 1280px) {
  #drawer-menu-pic {
    display: none;
  }
}

@media (min-width: 500px) {
  #erafleet-title-pic {
    height: clamp(1.5em, 2vw, 1.5em);
  }
}

@media (min-width: 1280px) {
  #sign-in {
    display: flex;
    align-items: center;
  }

  .navbar ul {
    display: flex;
    list-style: none;
  }
  .navbar li {
    margin-right: 1em;
  }
  .navbar a {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  #fleet-features-section {
    flex-direction: row;
    margin-left: 4.5em;
  }
  #fleet-features-section h2 {
    margin-bottom: clamp(0.1em, 1vw, 1em);
  }
}

/* @media (min-width: 1280px) {
  #iot-solutions {
    flex-direction: row;
  }

  #iot-solutions-paragraph {
    align-items: flex-start;
    margin-left: clamp(2em, 10vw, 10em);
    width: fit-content;
  }

  #iot-solutions span {
    text-align: left;
    font-size: clamp(0.5em, 1.2vw, 2em) !important;
    line-height: clamp(0.5em, 1.5vw, 2em) !important;
    width: 80%;
  }

  #iot-solutions h3 {
    width: 80%;
    font-size: clamp(0.5em, 3vw, 5em);
    text-align: left;
    margin: 1em 0 clamp(0.5em, 2vw, 5em) 0;
    line-height: clamp(0.5em, 3vw, 5em);
  }

  #iot-solutions-pics {
    width: 85%;
    position: relative;
    margin-left: -20em;
    margin-top: clamp(3em, 8vw, 5em);
    margin-bottom: 0;
  }

  #iot-solutions-pics__cars-on-map {
    position: relative;
    height: clamp(10vw, 14vw, 70vw);
    left: 1em;
    z-index: 1;
  }

  #iot-solutions-pics__steering {
    position: relative;
    height: clamp(10vw, 20vw, 70vw);
    z-index: 0;
  }

  #flexible-pricing-plan-section {
    margin-top: clamp(0.5em, 3vw, 2.5em);
    margin-left: clamp(2em, 10vw, 10em);
    margin-right: clamp(2em, 3vw, 10em);
    padding-top: clamp(1em, 1vw, 4em);
    padding-bottom: clamp(1em, 1vw, 4em);
    padding-left: clamp(1em, 2.5vw, 4em);
    flex-direction: row;
    justify-self: start;
    border: 1px solid #dee1e6;
    border-radius: 10px;
  }

  #flexible-pricing-plan-section h3 {
    letter-spacing: -0.03em;
    white-space: nowrap;
    margin-right: clamp(1em, 2vw, 10em);
  }

  #flexible-pricing-plan-section h4 {
    letter-spacing: -0.02em;
    font-size: clamp(0.1em, 1.3vw, 1.3em);
    text-align: left;
    margin: 0 0.5em 0 0.5em;
  }

  .yellow-rectangle {
    width: clamp(0.2em, 5vw, 5em);
    height: clamp(0.2em, 4vw, 5em);
    border-radius: 5%;
    background-color: #ffd850;
  }

  #flexible-pricing-plan-section img {
    height: clamp(0.2em, 2vw, 5em);
  }
} */
